@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.phone_font, .page .head .menu .phone a {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #292B2A;
}

.phone_description_font, .page .head .menu .phone span {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #959595;
  margin-left: 12px;
}

.menu_font, .page .head .menu .burger-menu span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #292B2A;
}

.font_heading, .page .wrapper h4 {
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #052E43;
}

.font_section_description, .page .wrapper span {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #052E43;
}

.page {
  margin: 0 auto;
  width: 1920px;
  height: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .head {
  width: 1920px;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
}

.page .head .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 100px;
}

.page .head .menu .burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 5px;
  margin-right: 50px;
}

.page .head .menu .burger-menu .icons-menu {
  width: 35px;
  height: 14px;
}

.page .head .menu .burger-menu:hover svg path {
  fill: #CEAFC8;
}

.page .head .menu .burger-menu:hover span {
  color: #CEAFC8;
}

.page .head .menu .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 5px;
  margin-left: 50px;
}

.page .head .search {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
}

.page .head .search .shop-cart {
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .head .search .shop-cart span {
  padding: 2px 5px;
  color: #FFF;
  background-color: #CEAFC8;
  border-radius: 4px;
}

.page .head .search .shop-cart .shopping-cart:hover svg path {
  fill: #CEAFC8;
}

.page .head .search .loupe-img {
  width: 25px;
  height: 25px;
}

.page .head .search .loupe-img:hover svg path {
  fill: #CEAFC8;
}

.page .wrapper {
  margin: 0 auto;
  width: 1140;
  height: 705;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}

.page .wrapper .text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  padding-bottom: 0;
  padding-right: 0;
}

.page .wrapper .text_flex button {
  margin-bottom: 15px;
}

.page .wrapper .text_flex .button-see-hover {
  margin-bottom: 15px;
}

.page .wrapper .see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .wrapper .see .button-see-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  opacity: 0;
}

.page .wrapper .see .button-see-hover .arrow {
  margin-right: 10px;
  margin-left: -30px;
}

.page .wrapper .see .button-see-hover-juices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  opacity: 0;
}

.page .wrapper .see .button-see-hover-juices .arrow {
  margin-right: 10px;
  margin-left: -30px;
}

.page .wrapper .see .button-see-hover-vegetables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  opacity: 0;
}

.page .wrapper .see .button-see-hover-vegetables .arrow {
  margin-right: 10px;
  margin-left: -30px;
}

.page .wrapper .see button {
  color: #CEAFC8;
}

.page .wrapper .left-block {
  width: 750px;
  height: 562px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .wrapper .animation {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 20px 30px;
  width: 750px;
  height: 266px;
  margin-top: 20px;
  font-weight: 600;
  color: red;
  background-color: transparent;
  /* border: 2px solid black; */
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.page .wrapper .animation div {
  position: relative;
}

.page .wrapper .animation .frutis {
  position: absolute;
  width: 750px;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .wrapper .animation .frutis .frutis-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 24px;
}

@-webkit-keyframes seeHover {
  0% {
    margin-right: -50px;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes seeHover {
  0% {
    margin-right: -50px;
  }
  100% {
    margin-right: 0;
  }
}

.page .wrapper .animation .frutis button {
  background: none;
}

.page .wrapper .animation .frutis:hover .button-see-hover {
  opacity: 1;
}

.page .wrapper .animation .frutis:hover .button-see-hover img {
  -webkit-animation: seeHover 0.7s linear;
          animation: seeHover 0.7s linear;
}

.page .wrapper .animation .frutis:hover button {
  color: #FFF;
  background: none;
}

@-webkit-keyframes wave {
  0% {
    top: 200px;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  0% {
    top: 200px;
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
  100% {
    top: 0;
    border-radius: 50%;
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    top: 200px;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  0% {
    top: 200px;
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
  100% {
    top: 0;
    border-radius: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes rad {
  0% {
    left: -300px;
  }
  50% {
    left: -300px;
  }
  100% {
    left: 115px;
  }
}

@keyframes rad {
  0% {
    left: -300px;
  }
  50% {
    left: -300px;
  }
  100% {
    left: 115px;
  }
}

.page .wrapper .animation:hover .wave {
  position: absolute;
  top: -55px;
  left: -2px;
  width: 372px;
  height: 479px;
  border-top-right-radius: 50%;
  background: #CEAFC8;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.page .wrapper .animation:hover .wave:after, .page .wrapper .animation:hover .wave:before {
  content: '';
  position: absolute;
  width: 155%;
  height: 155%;
  top: 0;
  left: 30%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.page .wrapper .animation:hover .wave:after {
  background: #fff;
  -webkit-animation: wave 0.5s linear forwards;
          animation: wave 0.5s linear forwards;
}

.page .wrapper .animation:hover .wave:before {
  background: #fff;
  -webkit-animation: wave 1s linear forwards;
          animation: wave 1s linear forwards;
}

.page .wrapper .animation:hover .radius {
  position: relative;
  width: 227px;
  height: 292px;
  border-radius: 50%;
  background-color: #CEAFC8;
  top: -18%;
  left: 115px;
  -webkit-animation: rad 1s ease-out forwards;
          animation: rad 1s ease-out forwards;
}

.page .wrapper .berries_juices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .wrapper .berries_juices .animation-berries {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 360px;
  height: 266px;
  margin-top: 20px;
  font-weight: 600;
  color: red;
  background-color: transparent;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.page .wrapper .berries_juices .animation-berries div {
  position: relative;
}

.page .wrapper .berries_juices .animation-berries .berries {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .wrapper .berries_juices .animation-berries .berries .text_flex {
  z-index: 3;
}

.page .wrapper .berries_juices .animation-berries .berries .berries-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 1;
}

@keyframes seeHover {
  0% {
    margin-right: -50px;
    color: #FC8663;
  }
  100% {
    margin-right: 0;
    color: #FFF;
  }
}

@-webkit-keyframes seeHover-btn {
  0% {
    color: #FC8663;
  }
  100% {
    color: #FFF;
  }
}

@keyframes seeHover-btn {
  0% {
    color: #FC8663;
  }
  100% {
    color: #FFF;
  }
}

.page .wrapper .berries_juices .animation-berries .berries button {
  background: none;
  color: #FC8663;
}

.page .wrapper .berries_juices .animation-berries .berries:hover .button-see-hover {
  opacity: 1;
}

.page .wrapper .berries_juices .animation-berries .berries:hover .button-see-hover img {
  -webkit-animation: seeHover 1.5s linear;
          animation: seeHover 1.5s linear;
}

.page .wrapper .berries_juices .animation-berries .berries:hover button {
  -webkit-animation: seeHover-btn 1.5s linear;
          animation: seeHover-btn 1.5s linear;
  color: #FFF;
}

@keyframes wave {
  0% {
    top: 200px;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  0% {
    top: 200px;
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
  100% {
    top: 0;
    border-radius: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes rad-berries {
  0% {
    left: -300px;
  }
  50% {
    left: -300px;
  }
  100% {
    left: -5px;
  }
}

@keyframes rad-berries {
  0% {
    left: -300px;
  }
  50% {
    left: -300px;
  }
  100% {
    left: -5px;
  }
}

.page .wrapper .berries_juices .animation-berries:hover .wave {
  position: absolute;
  top: -55px;
  left: -153px;
  width: 394px;
  height: 488px;
  border-top-right-radius: 50%;
  background: #FC8663;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.page .wrapper .berries_juices .animation-berries:hover .wave:after,
.page .wrapper .berries_juices .animation-berries:hover .wave:before {
  content: '';
  position: absolute;
  width: 155%;
  height: 155%;
  top: 0;
  left: 30%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.page .wrapper .berries_juices .animation-berries:hover .wave:after {
  background: #fff;
  -webkit-animation: wave 0.5s linear forwards;
          animation: wave 0.5s linear forwards;
}

.page .wrapper .berries_juices .animation-berries:hover .wave:before {
  background: #fff;
  -webkit-animation: wave 1s linear forwards;
          animation: wave 1s linear forwards;
}

.page .wrapper .berries_juices .animation-berries:hover .radius-berries {
  position: relative;
  width: 227px;
  height: 292px;
  border-radius: 50%;
  background-color: #FC8663;
  top: -4%;
  left: -5px;
  z-index: 2;
  -webkit-animation: rad-berries 1.5s ease-out forwards;
          animation: rad-berries 1.5s ease-out forwards;
}

.page .wrapper .berries_juices .animation-juices {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 360px;
  height: 266px;
  margin-top: 20px;
  font-weight: 600;
  color: red;
  background-color: transparent;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.page .wrapper .berries_juices .animation-juices div {
  position: relative;
}

.page .wrapper .berries_juices .animation-juices .juices {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .wrapper .berries_juices .animation-juices .juices .text_flex {
  z-index: 3;
}

.page .wrapper .berries_juices .animation-juices .juices .juices-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 1;
}

@-webkit-keyframes seeHover-juices {
  0% {
    margin-right: -50px;
    color: #88BCB9;
  }
  100% {
    margin-right: 0;
    color: #FFF;
  }
}

@keyframes seeHover-juices {
  0% {
    margin-right: -50px;
    color: #88BCB9;
  }
  100% {
    margin-right: 0;
    color: #FFF;
  }
}

@-webkit-keyframes seeHover-btn-juices {
  0% {
    color: #88BCB9;
  }
  100% {
    color: #FFF;
  }
}

@keyframes seeHover-btn-juices {
  0% {
    color: #88BCB9;
  }
  100% {
    color: #FFF;
  }
}

.page .wrapper .berries_juices .animation-juices .juices button {
  background: none;
  color: #88BCB9;
  margin-top: 14px;
}

.page .wrapper .berries_juices .animation-juices .juices:hover .button-see-hover-juices {
  opacity: 1;
}

.page .wrapper .berries_juices .animation-juices .juices:hover .button-see-hover-juices img {
  -webkit-animation: seeHover-juices 1.5s linear;
          animation: seeHover-juices 1.5s linear;
}

.page .wrapper .berries_juices .animation-juices .juices:hover button {
  -webkit-animation: seeHover-btn-juices 1.5s linear;
          animation: seeHover-btn-juices 1.5s linear;
  color: #FFF;
}

@keyframes wave {
  0% {
    top: 200px;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  0% {
    top: 200px;
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
  100% {
    top: 0;
    border-radius: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes rad-juices {
  0% {
    left: -300px;
  }
  50% {
    left: -300px;
  }
  100% {
    left: -5px;
  }
}

@keyframes rad-juices {
  0% {
    left: -300px;
  }
  50% {
    left: -300px;
  }
  100% {
    left: -5px;
  }
}

.page .wrapper .berries_juices .animation-juices:hover .wave {
  position: absolute;
  top: -55px;
  left: -153px;
  width: 394px;
  height: 488px;
  border-top-right-radius: 50%;
  background: #88BCB9;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.page .wrapper .berries_juices .animation-juices:hover .wave:after,
.page .wrapper .berries_juices .animation-juices:hover .wave:before {
  content: '';
  position: absolute;
  width: 155%;
  height: 155%;
  top: 0;
  left: 30%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.page .wrapper .berries_juices .animation-juices:hover .wave:after {
  background: #fff;
  -webkit-animation: wave 0.5s linear forwards;
          animation: wave 0.5s linear forwards;
}

.page .wrapper .berries_juices .animation-juices:hover .wave:before {
  background: #fff;
  -webkit-animation: wave 1s linear forwards;
          animation: wave 1s linear forwards;
}

.page .wrapper .berries_juices .animation-juices:hover .radius-juices {
  position: relative;
  width: 227px;
  height: 292px;
  border-radius: 50%;
  background-color: #88BCB9;
  top: -4%;
  left: -5px;
  z-index: 2;
  -webkit-animation: rad-berries 1.5s ease-out forwards;
          animation: rad-berries 1.5s ease-out forwards;
}

.page .right-block {
  width: 360px;
  height: 562px;
}

.page .right-block .animation-vegetables {
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 30px;
  width: 360px;
  height: 562px;
  margin-top: 20px;
  font-weight: 600;
  color: red;
  background-color: transparent;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.page .right-block .animation-vegetables div {
  position: relative;
}

.page .right-block .animation-vegetables .vegetable {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 562px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .right-block .animation-vegetables .vegetable .text_flex_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px;
  padding-bottom: 0;
  padding-right: 0;
  z-index: 3;
}

.page .right-block .animation-vegetables .vegetable .text_flex_right button {
  color: #FFD452;
  margin-top: 42px;
}

.page .right-block .animation-vegetables .vegetable .vegetables-img {
  margin-left: 65px;
  z-index: 1;
}

.page .right-block .animation-vegetables .vegetable .button-see-hover-vegetables {
  margin-top: 42px;
}

@-webkit-keyframes seeHover-vegetables {
  0% {
    margin-right: -50px;
    color: #FFD452;
  }
  100% {
    margin-right: 0;
    color: #FFF;
  }
}

@keyframes seeHover-vegetables {
  0% {
    margin-right: -50px;
    color: #FFD452;
  }
  100% {
    margin-right: 0;
    color: #FFF;
  }
}

@-webkit-keyframes seeHover-btn-vegetables {
  0% {
    color: #FFD452;
  }
  100% {
    color: #FFF;
  }
}

@keyframes seeHover-btn-vegetables {
  0% {
    color: #FFD452;
  }
  100% {
    color: #FFF;
  }
}

.page .right-block .animation-vegetables .vegetable button {
  background: none;
  color: #FFD452;
}

.page .right-block .animation-vegetables .vegetable:hover .button-see-hover-vegetables {
  opacity: 1;
}

.page .right-block .animation-vegetables .vegetable:hover .button-see-hover-vegetables img {
  -webkit-animation: seeHover-vegetables 2.2s linear;
          animation: seeHover-vegetables 2.2s linear;
}

.page .right-block .animation-vegetables .vegetable:hover button {
  -webkit-animation: seeHover-btn-vegetables 2.2s linear;
          animation: seeHover-btn-vegetables 2.2s linear;
  color: #FFF;
}

@keyframes wave {
  0% {
    top: 300px;
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  0% {
    top: 300px;
    -webkit-transform: translate(-50%, -75%) rotate(360deg);
            transform: translate(-50%, -75%) rotate(360deg);
  }
  100% {
    top: 0;
    border-radius: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes rad-vegetables {
  0% {
    top: -300px;
    left: -300px;
  }
  50% {
    top: -300px;
    left: -300px;
  }
  100% {
    left: -22px;
    top: -2%;
  }
}

@keyframes rad-vegetables {
  0% {
    top: -300px;
    left: -300px;
  }
  50% {
    top: -300px;
    left: -300px;
  }
  100% {
    left: -22px;
    top: -2%;
  }
}

.page .right-block .animation-vegetables:hover .wave {
  position: absolute;
  top: -163px;
  left: -220px;
  width: 597px;
  height: 488px;
  border-top-right-radius: 50%;
  background: #FFD452;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.page .right-block .animation-vegetables:hover .wave:after,
.page .right-block .animation-vegetables:hover .wave:before {
  content: '';
  position: absolute;
  width: 155%;
  height: 155%;
  top: 0;
  left: 30%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.page .right-block .animation-vegetables:hover .wave:after {
  background: #fff;
  -webkit-animation: wave 0.8s linear forwards;
          animation: wave 0.8s linear forwards;
}

.page .right-block .animation-vegetables:hover .wave:before {
  background: #fff;
  -webkit-animation: wave 1.3s linear forwards;
          animation: wave 1.3s linear forwards;
}

.page .right-block .animation-vegetables:hover .radius-vegetables {
  position: relative;
  width: 400px;
  height: 292px;
  border-radius: 50%;
  background-color: #FFD452;
  top: -48%;
  left: -22px;
  z-index: 2;
  -webkit-animation: rad-vegetables 1.6s ease-out forwards;
          animation: rad-vegetables 1.6s ease-out forwards;
}
/*# sourceMappingURL=style.css.map */