//Import zeroing out and fonts

@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');

//Variables

$color_purple:#CEAFC8;
$color_orange:#FC8663;
$color_turquoise:#88BCB9;
$color_yellow:#FFD452;
$color_description_section:#052E43;
$color_black_heading:#052E43;
$color_black_white:#FFF;

//Patterns

.phone_font {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #292B2A;
}

.phone_description_font {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #959595;
    margin-left: 12px;
}

.menu_font {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #292B2A;
}

.font_heading {
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color:$color_black_heading;
}

.font_section_description {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:$color_description_section;
}

@mixin see_button($c) {
    color: $c;
}

.page {
    margin: 0 auto;
    width: 1920px;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .head {
        width: 1920px;
        height: 115px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 36px;
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-left: 100px;      
            .burger-menu {
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin-bottom: 5px;
                margin-right: 50px;
                .icons-menu {
                    width: 35px;
                    height: 14px;
                    
                }
                span {
                    @extend .menu_font;
                }
                
               &:hover {
                    svg {
                        path {
                            fill: $color_purple;
                        }                  
                    }
                    span {
                        color:$color_purple;
                    }
                }            
            }
            .phone {
                display: flex;
                flex-direction: column;
                justify-content: start;
                margin-bottom: 5px;
                margin-left: 50px;
                a {
                    @extend .phone_font;
                }
                span {
                    @extend .phone_description_font;               
                }
            }        
        }
        .search {
            width: 190px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: 100px;
            .shop-cart {
                width: 65px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                span {
                    padding: 2px 5px;
                    color: $color_black_white;
                    background-color: $color_purple;
                    border-radius: 4px;
                }  
                .shopping-cart {
                    &:hover {
                        svg {
                            path {
                                fill: $color_purple;
                            }
                        }
                    }                
                }             
            }
            .loupe-img {
                width: 25px;
                height: 25px;
                &:hover {
                    svg {
                        path {
                            fill: $color_purple;
                        }                  
                    }
                }              
            }           
        }
    }

    .wrapper {
        margin: 0 auto;
        width: 1920- 390 * 2; 
        height: 820 - 115;
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        & h4 {
            @extend .font_heading;
        }
        & span {
            @extend .font_section_description;
        }
        .text_flex {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 40px;
            padding-bottom: 0;
            padding-right: 0;
            button {
                margin-bottom: 15px;
            }
            .button-see-hover {
                margin-bottom: 15px;
            }
        }
        .see {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            .button-see-hover {
                display: flex;
                flex-direction: row;
                justify-content: start;
                .arrow {
                    margin-right: 10px;
                    margin-left: -30px;
                }
                opacity: 0;
            }
            button {
                @include see_button($color_purple);
            }             
        }

        .left-block {
            width: 750px;
            height: 266*2+30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            }

            .animation {
                position: absolute;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 24px;
                letter-spacing: 2px;
                text-transform: uppercase;
                padding: 20px 30px;
                width: 750px;
                height: 266px;
                margin-top: 20px;
                font-weight: 600;
                color: red;
                background-color: transparent;
                /* border: 2px solid black; */
                border-radius: 3px;
                position: relative;
                overflow: hidden;
                  & div {
                    position: relative;
                  }
                        
                  .frutis {
                    position: absolute;
                    width: 750px;
                    top: 0px;
                    left: 0px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .frutis-img {
                        display: flex;
                        flex-direction: column;
                        justify-content: end;                 
                        margin-top: 24px;
                    }
                    @keyframes seeHover {
                        0% {
                            margin-right: -50px;
                        }
                        100% {
                            margin-right: 0;
                        }
                    } 
                    button {
                        background: none;
                    }
                    &:hover {
                        
                        .button-see-hover {
                            opacity: 1;
                            img {
                                animation: seeHover 0.7s linear;
                            }
                            
                        }
                        button {
                            color: $color_black_white;
                            background: none;
                        }
                    }         
                  }
                  
                  @keyframes wave {
                    0% {
                        top: 200px;
                      transform: translate(0%, 0%) rotate(0deg);
                    }
                    0% {
                        top: 200px;
                      transform: translate(-50%, -75%) rotate(360deg);
                    }
                    100% {
                        top: 0;
                        border-radius: 50%;
                        opacity: 1;
                    }
                  }
                
                  @keyframes rad {
                      0% {
                        left: -300px;
                      }
                      50% {
                          left: -300px;
                      }
                      100% {
                          left: 115px;
                      }
                  }
    
                  &:hover {
                      .wave {
                        position: absolute;
                        top: -55px;
                        left: -2px;
                        width: 372px;
                        height: 479px;
                        border-top-right-radius:50%;
                        background: #CEAFC8;
                        transform: rotate(90deg);
                        transition: .5s ease;
                        // display: none; 
                      }
                    
                      .wave:after, & .wave:before {
                        content: '';
                        position: absolute;
                        width: 155%;
                        height: 155%;
                        top: 0;
                        left: 30%;
                        transform: translate(-50%, -75%);
                      }
                      
                      .wave:after {
                        background: #fff;   
                        animation: wave 0.5s linear forwards;
                      }
                      
                      .wave:before {
                        background: #fff;
                        animation: wave 1s linear forwards;
                      }
                    
                      .radius {
                          position: relative;
                          width: 227px;
                          height: 292px;
                          border-radius: 50%;
                          background-color: #CEAFC8;
                          top: -18%;
                          left: 115px;
                        //   display: none;
                          animation: rad 1s ease-out forwards;
                      }
                  }
              }

            .berries_juices {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .animation-berries {
                    position: absolute;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 24px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    // padding: 20px 30px;
                    width: 360px;
                    height: 266px;
                    margin-top: 20px;
                    font-weight: 600;
                    color: red;
                    background-color: transparent;
                    // border: 2px solid black;
                    border-radius: 3px;
                    position: relative;
                    overflow: hidden;

                    div {
                        position: relative;
                    }

                    .berries {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 360px;
                        height: 266px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .text_flex {
                            z-index: 3;
                        }

                        .berries-img {
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            z-index: 1;
                        }

                        @keyframes seeHover {
                            0% {
                                margin-right: -50px;
                                @include see_button($color_orange);
                            }
                            100% {
                                margin-right: 0;
                                @include see_button($color_black_white);
                            }
                        } 

                        @keyframes seeHover-btn {
                            0% {                                
                                @include see_button($color_orange);
                            }
                            100% {                          
                                @include see_button($color_black_white);
                            }
                        }

                        button {
                            background: none;
                            @include see_button($color_orange);
                        }

                        &:hover {                          
                            .button-see-hover {
                                opacity: 1;
                                img {
                                    animation: seeHover 1.5s linear;
                                }                                                       
                            }
                            button {
                                animation: seeHover-btn 1.5s linear;
                                color: $color_black_white;
                            }      
                        }                
                    }

                    @keyframes wave {
                        0% {
                            top: 200px;
                            transform: translate(0%, 0%) rotate(0deg);
                        }

                        0% {
                            top: 200px;
                            transform: translate(-50%, -75%) rotate(360deg);
                        }

                        100% {
                            top: 0;
                            border-radius: 50%;
                            opacity: 1;
                        }
                    }

                    @keyframes rad-berries {
                        0% {
                            left: -300px;
                        }

                        50% {
                            left: -300px;
                        }

                        100% {
                            left: -5px;
                        }
                    }
         
                    &:hover {
                        .wave {
                            position: absolute;
                            top: -55px;
                            left: -153px;
                            width: 394px;
                            height: 488px;
                            border-top-right-radius: 50%;
                            background: #FC8663;
                            transform: rotate(90deg);
                            transition: .5s ease;
                            // display: none; 
                        }
    
                        .wave:after,
                        & .wave:before {
                            content: '';
                            position: absolute;
                            width: 155%;
                            height: 155%;
                            top: 0;
                            left: 30%;
                            transform: translate(-50%, -75%);
                        }
    
                        .wave:after {
                            background: #fff;
                            animation: wave 0.5s linear forwards;
                        }
    
                        .wave:before {
                            background: #fff;
                            animation: wave 1s linear forwards;
                        }
    
                        .radius-berries {
                            position: relative;
                            width: 227px;
                            height: 292px;
                            border-radius: 50%;
                            background-color: #FC8663;
                            top: -4%;
                            left: -5px;
                            z-index: 2;
                            //   display: none;
                            animation: rad-berries 1.5s ease-out forwards;
                        }
                    }
                }

                .animation-jucies{
                    .juices {
                        width: 360px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .juices-img {
                            display: flex;
                            flex-direction: column;
                            justify-content: end;       
                        }
                        button {
                            @include see_button($color_turquoise);
                        }
                        &:hover {
                            .button-see-hover {
                                opacity: 1;
                            }
                            button {
                                color: $color_black_white;
                            }
                        }
                    }
                }              
            }
        }
        .right-block {
            width: 360px;
            height: 266*2+30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .text_flex_right {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 40px;
                padding-bottom: 0;
                padding-right: 0;
                button {
                    @include see_button($color_yellow);
                    margin-top: 42px;
                }
            }

            .vegetables-img {
                margin-left: 65px;
            }
            .button-see-hover {
                margin-top: 42px;
            }
            &:hover {
                .button-see-hover {
                    opacity: 1;
                }
                button {
                    color: $color_black_white;
                }
            }
        }
    }




